# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
ENV/

# Editor files
.vscode/
.idea/

# Logs and temporary files
*.log
*.tmp
results.txt

# mypy cache
.mypy_cache/

# OS-specific
.DS_Store
Thumbs.db
